<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="TentePlugin.contribution1"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="net.ample.wp2.tente.plugin.actions.SkeletonPopup"
               enablesFor="1"
               icon="icons/skull.png"
               id="net.ample.wp2.tente.plugin.actions.SkeletonPopup"
               label="Generate Skeletons"
               menubarPath="TentePlugin.menu1/group1">
         </action>
         <menu
               id="TentePlugin.menu1"
               label="Code Generation Tente"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
      </objectContribution>
      <objectContribution
            id="TentePlugin.contribution1"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="net.ample.wp2.tente.plugin.actions.ApplicationPopup"
               enablesFor="1"
               icon="icons/application.png"
               id="net.ample.wp2.tente.plugin.actions.ApplicationPopup"
               label="Generate Product"
               menubarPath="TentePlugin.menu1/group1">
         </action>
         <menu
               id="TentePlugin.menu1"
               label="Code Generation Tente"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="net.ample.wp2.tente.plugin.properties.TentePropertyPage"
            id="net.ample.wp2.tente.plugin.properties.samplePropertyPage"
            name="TENTE"
            nameFilter="*.*"
            objectClass="org.eclipse.core.resources.IProject">
      </page>
   </extension>

</plugin>
