<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("39b5a467-d11e-4c8d-b10a-f7cf31941954");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
